@model IEnumerable<DataAccess.Entity.Contact>

<div class="col-md-4 footer_grid">
    <h3>Contact Info</h3>
    @foreach (var item in Model)
    {
        <ul class="address">
            <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i> Sulh street <span>
                    @item.Address
                </span>
            </li>
            <li>
                <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:@item.Email">@item.Email</a>
            </li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>@item.Telephone</li>
        </ul>
    }
</div>
