<div class="header" id="home">
    <div class="content white agile-info">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Default/Index/">
                        <h1>
                            <span class="fa fa-signal" aria-hidden="true"></span> WebJobs.com <label>
                                Jobs
                                Posting
                            </label>
                        </h1>
                    </a>
                </div>
                <!--/.navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <nav class="link-effect-2" id="link-effect-2">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/Default/Index/" class="effect-3">Home</a></li>
                            <li><a href="/Jobs/Index/" class="effect-3">Jobs</a></li>
                            <li><a href="/NewVacancy/NewVacancyAdd/" class="effect-3">New Vakancy</a></li>
                            <li><a href="/About/Index/" class="effect-3">About</a></li>
                            <li><a href="/Contact/MessageAdd/" class="effect-3">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <!--/.navbar-collapse-->
                <!--/.navbar-->
            </div>
        </nav>
    </div>
</div>