@model IEnumerable<DataAccess.Entity.Message>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-grid">
    <div class="agile-grids">
        <!-- tables -->

        <div class="table-heading">
            <h2>Incoming messages table</h2>
        </div>
        <div class="agile-tables">
            <div class="w3l-table-info">
                <table id="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Telephone</th>
                            <th>Subject</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>@item.Telephone</td>
                                <td>@item.Subject</td>
                                <td><a href="#" class="btn btn-success">Update</a></td>
                                <td><a href="#" style="background:#EB3E28;" class="btn btn-success">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- //tables -->
    </div>
</div>