@{
    ViewData["Title"] = "MessageNotification";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<!--/search_form -->
<div id="search_form" class="search_top">
    <h2>Start your job search</h2>
</div>
<!--//search_form -->
<div class="banner-bottom">
    <div class="container">
        <div class="tittle_head_w3ls">
            <h3 class="tittle">Message</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
            <div class="col-md-6 banner_bottom_left">
                <h4>
                    Your ad has been sent successfully
                </h4>
                <p>

                    Return to Home Page
                    <a href="/Default/Index/" style="font-size: 25px;">Home</a>
                    Page
                </p>

                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 banner_bottom_right">
                <div class="agileits_w3layouts_banner_bottom_grid">
                    <img src="~/WebJobs/images/ab.png" alt=" " class="img-responsive" />
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>
<!-- //banner-bottom -->
