
<div class="col-md-4 job_info_right">
    <div class="col_3 permit">
        <h3>Jobs by Category</h3>
        <ul class="list_2">
            <li><a href="#">Back-End Developer : @ViewBag.backend</a></li>
            <li><a href="#">Front-End Developer : @ViewBag.frontend</a></li>
            <li><a href="#">Full Stack Developer : @ViewBag.fullstack</a></li>
        </ul>
    </div>
</div>